ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-text {
  font-size: 0.8em;
  padding-left: 5px;
}

.ion-button {
  font-size: 0.8rem; /* Cambia el tamaño del texto del botón */
  padding: 4px 12px; /* Ajusta el relleno interno del botón */
}
